<center><h1>Laboratorio 1</h1></center>
<br />
<center><p>La propuesta para la solución de este caso es un arbol AVL donde cada nodo tiene una lista, de modo que cuando el usuario busque un nombre, se imprime en pantalla esa lista donde se encuentran todos los nombres que fueron buscados</p></center>
<center><p>presione "continuar" para proceder con el laboratorio</p></center>
<br />
<center>
    <form method="post" action="@Url.Action("subirDatos", "Aspirante")">
        <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">Continuar</button>
    </form>
</center>